.glowingtabs {
	FONT-SIZE: 12px;
	FLOAT: left;
	WIDTH: 100%;
	LINE-HEIGHT: normal;
	BORDER-BOTTOM: #dcc208 1px solid
}

.glowingtabs UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px 0px 5px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

.glowingtabs LI {
	PADDING-RIGHT: 0px;
	DISPLAY: inline;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}

.glowingtabs A {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 9px;
	BACKGROUND: url(media/glowtab-left.gif) no-repeat left top;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 5px 0px 0px;
	PADDING-TOP: 0px;
	TEXT-DECORATION: none
}

.glowingtabs A SPAN {
	PADDING-RIGHT: 12px;
	DISPLAY: block;
	PADDING-LEFT: 3px;
	FONT-WEIGHT: bold;
	BACKGROUND: url(media/glowtab.gif) no-repeat right top;
	FLOAT: left;
	PADDING-BOTTOM: 2px;
	COLOR: #3b3b3b;
	PADDING-TOP: 4px
}

.glowingtabs A SPAN {
	FLOAT: none
}

.glowingtabs A:hover SPAN {
	COLOR: black
}

.glowingtabs LI.selected A {
	BACKGROUND-POSITION: 0px -82px
}

.glowingtabs LI.selected A SPAN {
	BACKGROUND-POSITION: 100% -82px;
	COLOR: black
}

.glowingtabs A:hover {
	BACKGROUND-POSITION: 0% -82px
}

.glowingtabs LI.selected A:hover {
	BACKGROUND-POSITION: 0% -82px
}

.glowingtabs A:hover SPAN {
	BACKGROUND-POSITION: 100% -82px
}

.glowingtabs LI.selected A:hover SPAN {
	BACKGROUND-POSITION: 100% -82px
}

.dropmenudiv_d {
	BORDER-RIGHT: #dcc208 1px solid;
	BORDER-TOP: #dcc208 0px solid;
	Z-INDEX: 100;
	VISIBILITY: hidden;
	FONT: 12px/ 18px Verdana;
	BORDER-LEFT: #dcc208 1px solid;
	WIDTH: 200px;
	BORDER-BOTTOM: #dcc208 0px solid;
	POSITION: absolute;
	TOP: 0px;
	BACKGROUND-COLOR: white
}

.dropmenudiv_d A {
	BORDER-RIGHT: #dcc208 0px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #dcc208 0px solid;
	DISPLAY: block;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #dcc208 0px solid;
	WIDTH: auto;
	COLOR: black;
	TEXT-INDENT: 5px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #dcc208 1px solid;
	TEXT-DECORATION: none
}

HTML .dropmenudiv_d A {
	WIDTH: 100%
}

.dropmenudiv_d A:hover {
	BACKGROUND-COLOR: #fef8c8
}