.main {
	width: 100%;
}

.page-header {
	height: 88px;
	background-color: #f0f0f0;
}

.page-left {
	background-color: #bbbbbb;
	text-align: left;
}

.page-footer {
	height: 28px;
	background-color: #f0f0f0;
}

.page-main-height {
	height: 60em;
}