<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	<http>
		<intercept-url pattern="/install/**" filters="none"/>
		<intercept-url pattern="/admin.jsp" access="ROLE_ADMIN" />
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />
		<logout invalidate-session="true" logout-url="/logout" logout-success-url="/index.jsp"/>
		<form-login/>
		<anonymous/>
		<http-basic/>
		<logout/>
		<remember-me/>
	</http>
	<global-method-security secured-annotations="enabled" jsr250-annotations="enabled"/>

	<authentication-manager>
		<authentication-provider user-service-ref="userService">
		</authentication-provider>
	</authentication-manager>
	<!--beans:bean id="myFilter" class="org.kyerp.service.security.impl.MySpecialAuthenticationFilter" /-->
</beans:beans>
<!-- 
http://marshal.easymorse.com/archives/1260
-->