@charset "utf-8";

/* CSS Document */
@media print {
	INPUT {
		display: none
	}
	.tnoprint {
		display: none
	}
	.height30 {
		height: 30px;
	}
	.height60 {
		height: 60px;
	}
	.justPrint {
		display: inline;
		text-align: left;
	}
}

body {
	FONT-SIZE: 12px;
	MARGIN: 0px;
	COLOR: #000000;
}

form.k {
	margin: 0px;
	display: inline;
}

table.k {
	table-layout: fixed;
}

form.noPaddingMargin {
	padding: 0px;
	margin: 0px;
}

INPUT.xx {
	BACKGROUND: url("images/buttonshadow.gif") #fff repeat-x 50% bottom;
	BORDER-RIGHT: #8cacbb 1px solid;
	PADDING-RIGHT: 0.4em;
	BORDER-TOP: #8cacbb 1px solid;
	PADDING-LEFT: 0.4em;
	FONT-SIZE: 100%;
	PADDING-BOTTOM: 0.12em;
	MARGIN: 1px;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT: #8cacbb 1px solid;
	CURSOR: pointer;
	COLOR: #000;
	PADDING-TOP: 0.12em;
	BORDER-BOTTOM: #8cacbb 1px solid;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none;
}

TD.jj {
	MARGIN: 0px;
	COLOR: #000000;
	word-break: break-all;
	word-wrap: break-word;
	border-collapse: collapse;
	empty-cells: show;
}
.pim2_errorMessage{
	font-size: 18px;
	text-align:center;
	width:600px;
	background-color:#ffffdd;
	border: 1px;
	border-style: dotted;
	border-bottom-color: #ffd700;
	padding: 10px;
}
html {
	filter: expression(document.execCommand (           "BackgroundImageCache",
		false, true) );
}

/* ------------ Heading and List tag Settings ------------ */ /*
img {
	border: 0;
}

form {
	margin: 0;
}
h1,h2,h3,h4,h5 {	
	color: #000000;
	background: inherit;
	padding: 0;
	margin: 10px 0 5px;
}

h1 {
	color: #333;
	padding: 5px 0 5px 8px;
	font-size: 125%;
}

h2 {
	color: #000000;
	padding: 5px 0 5px 8px;
	font-size: 112%;
	border-bottom: 1px;
	border-bottom-style: dotted;
}

h3,h4,h5 {
	font-size: 100%;
}

ul,ol,li {
	margin: 0 0 0 10px;
	padding: 2px;
	text-align: left;
}

legend {
	padding: 0 10px;
	color: #F60;
	background: inherit;
}

hr {
	height: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 0;
}

legend {
	padding: 0 10px;
	color: #666;
	background: inherit;
}
*/
.printer {
	font-size: 12px;
	text-align: left;
}

.From_item {
	width: 80px;
	text-align: right;
}

.panelTitle {
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

.panelBody {
	text-align: center;
	padding: 10px;
}

.thrColElsHdr #container {
	width: 98%; /* 当文本保持浏览器的默认字体大小时，此宽度将创建一个适合 800px 浏览器窗口的容器 */
	background: #FFFFFF;
	margin: 15px auto; /* 自动边距（与宽度一起）会将页面居中 */
	border: 1px solid #000000;
	text-align: left; /* 这将覆盖 body 元素上的“text-align: center”。 */
}

.thrColElsHdr #header {
	background: #000000;
	padding: 10px;
	/* 此填充会将出现在它后面的 div 中的元素左对齐。如果 #header 中使用的是图像（而不是文本），您最好删除填充。 */
}

.thrColElsHdr #header h1 {
	margin: 0;
	/* 将 #header div 中最后一个元素的边距设置为零将避免边距重叠（即 div 之间出现的无法解释的空白）。如果 div 周围有边框，则不必将边距设置为零，因为边框也会避免边距重叠 */
	padding: 10px 0; /* 使用填充而不使用边距将可以使元素远离 div 的边缘 */
}

#header_backgroud {
	background: #ffffff url("images/header_right_4.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-position: right;
	border-bottom: 0px solid #AAA;
	padding: 15px;
}

#header_form {
	border-bottom: 0px solid #AAA;
	padding: 8px;
}

.thrColElsHdr #sidebarl {
	float: left;
	width: 180px; /* 由于此元素是浮动的，因此必须指定宽度 */
	background: #EBEBEB; /* 将显示背景色，其宽度等于栏中内容的长度，*/
	padding: 8px; /* 顶部和底部的填充将在该 div 中产生视觉空间 */
}

.thrColElsHdr #sidebarr {
	float: right;
	width: 140px; /* 由于此元素是浮动的，因此必须指定宽度 */
	background: #cccccc; /* 将显示背景色，其宽度等于栏中内容的长度，*/
	padding: 8px; /* 顶部和底部的填充将在该 div 中产生视觉空间 */
}

.thrColElsHdr #sidebar1 h3,.thrColElsHdr #sidebar1 p,.thrColElsHdr #sidebar2 p,.thrColElsHdr #sidebar2 h3
	{
	margin-left: 10px; /* 对于将要放在侧栏中的每个元素，都应当设置左边距和右边距 */
	margin-right: 10px;
}

.thrColElsHdr #mainContent {
	margin-top: 2px;
	margin-right: 168px;
	margin-bottom: 2px;
	margin-left: 220px;
	padding: 8px;
}

.thrColElsHdr #footer {
	padding: 10px;
	color: #FFFFFF;
	background: #000000;
}

.thrColElsHdr #footer p {
	margin: 0; /* 将脚注中第一个元素的边距设置为零将避免出现可能的边距重叠（即 div 之间出现的空白）*/
	padding: 10px 0; /* 就像边距会产生空白一样，此元素上的填充也将产生空白，但不会出现边距重叠问题 */
}

/* 要重用的各种类 */
.fltrt { /* 此类可用来使页面中的元素向右浮动。浮动元素必须位于页面上要与之相邻的元素之前。 */
	float: right;
	margin-left: 8px;
}

.fltlft { /* 此类可用来使页面上的元素向左浮动 */
	float: left;
	margin-right: 8px;
}

.clearfloat { /* 此类应当放在 div 或 break 元素上，而且该元素应当是完全包含浮动的容器关闭之前的最后一个元素 */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

/* ------------ Link Color Settings ------------ */
A {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 150%;
	TEXT-DECORATION: none
}

A:link {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 150%;
	TEXT-DECORATION: none
}

A:active {
	FONT-SIZE: 12px;
	COLOR: #880088;
	LINE-HEIGHT: 150%;
	TEXT-DECORATION: none
}

A:hover {
	FONT-SIZE: 12px;
	COLOR: #880088;
	LINE-HEIGHT: 150%;
	TEXT-DECORATION: none
}

/* ------------ left column & right column ------------ */
.leftcolumn .blockTitle,.rightcolumn .blockTitle {
	text-align: center;
	font-size: 14px;
	display: block;
	color: #ffffff;
	padding: 8px;
	background-color: #000000;
}

.leftcolumn .blockContent,.rightcolumn .blockContent {
	padding: 5px 10px;
	line-height: 150%;
	margin-bottom: 8px;
	margin-top: 9px;
}

/* ------------ center column ------------ */
.centerCcolumn .blockTitle,.rightcolumn .blockTitle {
	font-weight: bold;
	text-align: center;
	display: block;
	height: 26px;
	padding-top: 14px;
	background: #DFDFDF;
	color: #000000;
}

/* ------------ xoops mainmenu & usermenu ------------ */
#mainmenu a,#usermenu a {
	width: 160px;
	display: block;
	text-decoration: none;
	margin-bottom: 4px;
	padding: 3px;
	color: #000000;
	border-bottom: 1px dotted #AAA;
}

#mainmenu a:hover,#usermenu a:hover {
	color: #f90;
	background-color: inherit;
}

#mainmenu a.menuSub,#mainmenu a.menuSub:hover {
	padding-left: 25px;
}

#usermenu a.highlight {
	color: #FFF;
	padding: 3px;
	background: #333;
}

/* ------------ for table ------------ */
.outer {
	border: 1px solid #EEE;
}

th {
	padding: 3px;
	vertical-align: middle;
	font-weight: normal;
	color: #666;
	border-bottom: 1px solid #CCC;
	background: #EEE;
}

.head {
	padding: 5px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #F2F2F2;
}

.even {
	padding: 2px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #F7F7F7;
}

.odd {
	padding: 2px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #FAFAFA;
}

.foot {
	padding: 5px;
	font-weight: bold;
	color: inherit;
	background: #F2F2F2;
}

tr.even td {
	padding: 2px;
	border-bottom: 1px solid #CACACA;
}

tr.odd td {
	padding: 2px;
	border-bottom: 1px solid #CACACA;
}

tr.even {
	color: inherit;
	background: #F7F7F7;
}

tr.odd {
	color: inherit;
	background: #FAFAFA;
}

tr.odd:hover,tr.even:hover {
	color: #000;
	border-bottom: 1px solid #CACACA;
	background: #DFDFDF;
}

/* ------------ error message & quote and code ------------ */
div.errorMsg {
	background: #F5E8E8;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #CCC;
}

div.confirmMsg {
	background: #EFF4DF;
	color: #003300;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #CCC;
}

div.resultMsg {
	background-color: #FFF;
	color: #333;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #CCC;
}

div.xoopsCode {
	background: #EFEFEF;
	color: inherit;
	border: 1px inset #CCC;
	padding: 6px;
	overflow: auto;
	width: 450px;
}

div.xoopsQuote {
	background: #EFEFEF;
	color: inherit;
	border: 1px inset #CCC;
	padding: 6px;
	overflow: auto;
	width: 450px;
}

/* ------------ for comment area ------------ */
.formButton {
	border: 1px outset #616655;
	background-color: #EEEEEE;
	color: #7F7F7F;
}

/* ------------ for comment ------------ */
.comTitle {
	margin-bottom: 2px;
}

.comText {
	padding: 2px;
}

.comUserStat {
	font-size: 80%;
	border: 1px solid #CCC;
	margin: 2px;
	padding: 2px;
	background: #FFF;
	color: inherit;
}

.comUserStatCaption {
	font-weight: normal;
}

.comUserRank {
	margin: 2px;
}

.comUserRankText {
	font-size: 80%;
}

.comUserImg {
	margin: 2px;
}

.comDate {
	font-size: 80%;
}

.comDateCaption {
	
}

/* ------------ for bulletin or news module ------------ */
.itemHead {
	padding: 2px 5px;
	font-weight: bold;
	border-bottom: 1px dotted #CCC;
}

.itemInfo {
	text-align: right;
	padding: 3px 8px;
}

.itemTitle a {
	font-size: 120%;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
}

.itemPoster {
	font-size: 90%;
}

.itemPostDate {
	font-size: 90%;
}

.itemStats {
	font-size: 90%;
}

.itemBody {
	padding: 0 8px 0 13px;
	overflow: hidden;
}

.itemText {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.5em;
}

.itemText:first-letter {
	font-size: 1.5em;
	font-weight: bold;
}

.itemFoot {
	text-align: right;
	padding: 2px;
	border-top: 1px dotted #CCC;
}

.itemAdminLink {
	font-size: 90%;
}

.itemPermaLink {
	font-size: 90%;
}

.njBkg-0 {
	background-color: #00529B;
}

.njBkg-1 {
	background-color: #7FA8CD;
}

.njBkg-2 {
	background-color: #A6C3DC;
}

.njBkg-3 {
	background-color: #BFD4E6;
}

/*showPage*/ /* Pages Main Tyle */
.pages {
	color: #000000;
	cursor: default;
	font-size: 12px;
	font-family: Tahoma, Verdana;
	padding: 3px 0px 3px 0px;
}

.pages .count,.pages .number,.pages .arrow {
	color: #000000;
	font-size: 12px;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}

/* Page and PageCount Style */
.pages .count {
	font-weight: bold;
	border-right: none;
	padding: 2px 12px 1px 12px;
}

/* Mode 0,1,2 Style (Number) */
.pages .number {
	font-weight: normal;
	padding: 2px 12px 1px 12px;
}

.pages .number a,.pages .number span {
	font-size: 12px;
}

.pages .number span {
	color: #999999;
	margin: 0px 3px 0px 3px;
}

.pages .number a {
	color: #000000;
	text-decoration: none;
}

.pages .number a:hover {
	color: #0000ff;
}

/* Mode 3 Style (Arrow) */
.pages .arrow {
	font-weight: normal;
	padding: 0px 5px 0px 5px;
}

.pages .arrow a,.pages .arrow span {
	font-size: 12px;
	font-family: Webdings;
}

.pages .arrow span {
	color: #999999;
	margin: 0px 5px 0px 5px;
}

.pages .arrow a {
	color: #000000;
	text-decoration: none;
}

.pages .arrow a:hover {
	color: #0000ff;
}

/* Mode 4 Style (Select) */
.pages select,.pages input {
	color: #000000;
	font-size: 12px;
	font-family: Tahoma, Verdana;
}

/* Mode 5 Style (Input) */
.pages .input input.ititle,.pages .input input.itext,.pages .input input.icount
	{
	color: #666666;
	font-weight: bold;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}

.pages .input input.ititle {
	text-align: right;
	border-right: none;
}

.pages .input input.itext {
	color: #000000;
	text-align: right;
	border-left: none;
	border-right: none;
}

.pages .input input.icount {
	text-align: left;
	border-left: none;
}

.pages .input input.ibutton {
	height: 17px;
	color: #00FFFF;
	font-weight: bold;
	font-family: Verdana;
	background-color: #999999;
	border: 10px solid #666666;
	padding: 0px 0px 2px 1px;
	margin-left: 2px;
	cursor: hand;
}

.presswork_OK {
	padding: 10px;
	background: #ADD8E6;
	color: black;
	text-align: center;
	width: 90px;
}

.presswork_NotFinish {
	padding: 10px;
	background: #FF4500;
	color: black;
	text-align: center;
	width: 90px;
}

.pageTitle {
	padding: 4px;
	color: black;
	font-size: 16px;
	line-height: 180%;
	font-weight: bold;
}

.moneyBig {
	FONT-SIZE: 16px;
	COLOR: #000000;
	FONT-FAMILY: "黑体"
}

.moneyXiao {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #ff0000;
	FONT-FAMILY: "Arial"
}

.showstate {
	MARGIN-TOP: 2px;
	FLOAT: right;
	CURSOR: pointer;
	MARGIN-RIGHT: 3px
}

.headers {
	line-height: 180%;
	BORDER-RIGHT: #6088FF 1px solid;
	BORDER-TOP: #6088FF 1px solid;
	FONT-WEIGHT: bold;
	FONT-SIZE: 100%;
	color: #ffffff;
	BORDER-LEFT: #6088FF 1px solid;
	WIDTH: 100%;
	BORDER-BOTTOM: #6088FF 1px solid;
	BACKGROUND-COLOR: #6088FF
}

.switchcontent {
	BORDER-RIGHT: #6088FF 1px solid;
	BORDER-TOP: #6088FF 0px solid;
	BORDER-LEFT: #6088FF 1px solid;
	WIDTH: 100%;
	BORDER-BOTTOM: #6088FF 1px solid
}

.cssform p {
	width: 400px;
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 155px;
	/*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
	font-size: 16px;
}

.cssform label {
	font-weight: bold;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px;
	font-size: 16px;
	line-height: 150%
		/*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"] {
	/*width of text boxes. IE6 does not understand this attribute*/
	width: 180px;
	font-size: 18px;
	padding-top: 6px;
	height: 20px;
}

.cssform textarea {
	width: 250px;
	height: 150px;
	font-size: 16px;
}

.threepxfix {
	margin-left: 3px;
}

.stripe_tb th {
	background: #0066FF;
	color: #FFFFFF;
	line-height: 150%;
}

.stripe_tb td {
	border-bottom: 0px solid #95bce2;
}

.stripe_tb td * {
	
}

.stripe_tb tr.alt td {
	padding: 6px;
	background: #f0f7f9; /*这行将给所有偶数行加上背景色*/
}

.stripe_tb tr.over td {
	background: #FEF3D1; /*这个将是鼠标高亮行的背景色*/
}

.stripe_tb tr.click td {
	background: #FFFFCC;
}

.click {
	background: #FFFFCC;
}

.popWindow {
	display: none;
	z-index: 2000;
	border: 1px solid #06c;
	padding: 0px;
	background: #fff;
}

.popWindowTitle {
	background: #0184de;
	text-align: right;
	padding-right: 3px;
	padding: 3px;
}

.popWindowClose {
	width: 50;
	border-width: 0px;
	color: white;
	cursor: hand;
	left: -200;
}

.popWindowBody {
	padding: 10px;
	text-align: left;
}

.popWindowBody span {
	font-size: 18px;
	color: blue;
	margin-right: 10px;
	font-weight: bold;
}

.popWindowBody ul li {
	font-size: 16px;
}

.popWindowBody ul li a {
	font-size: 16px;
}

body,div,ul,li {
	margin: 0 auto;
	padding: 0;
}

ul {
	list-style: none;
}

.main {
	clear: both;
	padding: 8px;
	text-align: center;
}

/*第一种形式*/
#tabs0 {
	height: 200px;
	width: 400px;
	border: 1px solid #cbcbcb;
	background-color: #f2f6fb;
}

.menu0 {
	width: 400px;
}

.menu0 li {
	display: block;
	float: left;
	padding: 4px 0;
	width: 100px;
	text-align: center;
	cursor: pointer;
	background: #FFFFff;
}

.menu0 li.hover {
	background: #f2f6fb;
}

#main0 ul {
	display: none;
}

#main0 ul.block {
	display: block;
}

/*第二种形式*/
#tabs1 {
	text-align: left;
	width: 98%;
}

.menu1box {
	position: relative;
	overflow: hidden;
	height: 22px;
	width: 98%;
	text-align: left;
}

#menu1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#menu1 li {
	float: left;
	display: block;
	cursor: pointer;
	width: 72px;
	text-align: center;
	line-height: 21px;
	height: 21px;
}

#menu1 li.hover {
	background: #fff;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
}

.main1box {
	clear: both;
	margin-top: -1px;
	border: 1px solid #333;
	height: 100%;
	width: 98%;
}

#main1 ul {
	display: none;
}

#main1 ul.block {
	display: block;
}

/*第三种形式*/
.menu2box {
	position: relative;
	overflow: hidden;
	height: 22px;
	width: 400px;
	text-align: left;
	background: #FFFFff;
}

#tabs2 {
	height: 200px;
	width: 400px;
	border: 1px solid #cbcbcb;
	background-color: #f2f6fb;
}

#tip2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	line-height: 22px;
	z-index: 0;
	width: 100px;
	background: #f2f6fb;
}

#menu2 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#menu2 li {
	display: block;
	float: left;
	padding: 4px 0;
	width: 100px;
	text-align: center;
	cursor: pointer;
}

.pim2_secondMenu ul {
	padding: 20px;
}

.pim2_secondMenu ul {
	LIST-STYLE-TYPE: none;
}

.pim2_secondMenu li {
	DISPLAY: inline;
}

.pim2_secondMenu li input {
	BACKGROUND: url("images/buttonshadow.gif") #fff repeat-x 50% bottom;
	BORDER-RIGHT: #8cacbb 1px solid;
	PADDING-RIGHT: 0.4em;
	BORDER-TOP: #8cacbb 1px solid;
	PADDING-LEFT: 0.4em;
	FONT-SIZE: 100%;
	PADDING-BOTTOM: 0.12em;
	MARGIN: 1px;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT: #8cacbb 1px solid;
	CURSOR: pointer;
	COLOR: #000;
	PADDING-TOP: 0.12em;
	BORDER-BOTTOM: #8cacbb 1px solid;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none;
}