@charset "utf-8";

/* CSS Document */
@media print {
	INPUT {
		display: none
	}
	.tnoprint {
		display: none
	}
	.height30 {
		height: 60px;
	}
}

.HTitle {
	font-size: 18px;
	color: #000000;
}

.item {
	line-height: 120%;
	font-size: 14px;
	font-family: "宋体";
}

.text {
	font-family: "黑体";
	font-size: 15px;
	color: #000000;
}

.bottomtext {
	font-family: "宋体";
	font-size: 13.5px;
	color: #000000;
}

.bigitem {
	line-height: 150%;
	font-size: 15px;
	color: #000000;
	font-family: "黑体";
}

.sImpactred {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #ff0000;
	FONT-FAMILY: "Arial"
}