.pagination {
	FONT-SIZE: 80%
}

.pagination A {
	BORDER-RIGHT: #aae 1px solid;
	BORDER-TOP: #aae 1px solid;
	BORDER-LEFT: #aae 1px solid;
	COLOR: #15b;
	BORDER-BOTTOM: #aae 1px solid;
	TEXT-DECORATION: none
}

.pagination A {
	PADDING-RIGHT: 0.5em;
	DISPLAY: block;
	PADDING-LEFT: 0.5em;
	FLOAT: left;
	MARGIN-BOTTOM: 5px;
	PADDING-BOTTOM: 0.3em;
	MARGIN-RIGHT: 5px;
	PADDING-TOP: 0.3em
}

.pagination SPAN {
	PADDING-RIGHT: 0.5em;
	DISPLAY: block;
	PADDING-LEFT: 0.5em;
	FLOAT: left;
	MARGIN-BOTTOM: 5px;
	PADDING-BOTTOM: 0.3em;
	MARGIN-RIGHT: 5px;
	PADDING-TOP: 0.3em
}

.pagination .current {
	BORDER-RIGHT: #aae 1px solid;
	BORDER-TOP: #aae 1px solid;
	BACKGROUND: #26b;
	BORDER-LEFT: #aae 1px solid;
	COLOR: #fff;
	BORDER-BOTTOM: #aae 1px solid
}

.pagination .prev.current {
	BORDER-LEFT-COLOR: #999;
	BACKGROUND: #fff;
	BORDER-BOTTOM-COLOR: #999;
	COLOR: #999;
	BORDER-TOP-COLOR: #999;
	BORDER-RIGHT-COLOR: #999
}

.pagination .next.current {
	BORDER-LEFT-COLOR: #999;
	BACKGROUND: #fff;
	BORDER-BOTTOM-COLOR: #999;
	COLOR: #999;
	BORDER-TOP-COLOR: #999;
	BORDER-RIGHT-COLOR: #999
}