@charset "utf-8";

body { /*font-family: "宋体",Arial,Helvetica,sans-serif;*/
	font-family: "" 宋体 ",Arial Rounded MT Bold";
	font-size: 12px;
	background: #ffffff;
	margin: 0; /* 最好将 body 元素的边距和填充设置为 0 以覆盖不同的浏览器默认值 */
	padding: 0;
	text-align: center;
	/* 在 IE 5* 浏览器中，这会将容器居中。文本随后将在 #container 选择器中设置为默认左对齐 */
	color: #000000;
}

input,bottom {
	font-size: 12px;
	line-height: 19px;
}

.From_item {
	width: 80px;
	text-align: right;
}

.panelTitle {
	text-align: center;
	color: #ffffff;
}

.panelBody {
	text-align: center;
	padding: 10px;
}

.thrColElsHdr #container {
	width: 98%; /* 当文本保持浏览器的默认字体大小时，此宽度将创建一个适合 800px 浏览器窗口的容器 */
	background: #FFFFFF;
	margin: 15px auto; /* 自动边距（与宽度一起）会将页面居中 */
	border: 1px solid #000000;
	text-align: left; /* 这将覆盖 body 元素上的“text-align: center”。 */
}

.thrColElsHdr #header {
	background: #000000;
	padding: 10px;
	/* 此填充会将出现在它后面的 div 中的元素左对齐。如果 #header 中使用的是图像（而不是文本），您最好删除填充。 */
}

.thrColElsHdr #header h1 {
	margin: 0;
	/* 将 #header div 中最后一个元素的边距设置为零将避免边距重叠（即 div 之间出现的无法解释的空白）。如果 div 周围有边框，则不必将边距设置为零，因为边框也会避免边距重叠 */
	padding: 10px 0; /* 使用填充而不使用边距将可以使元素远离 div 的边缘 */
}

#header_backgroud {
	background: #ffffff url(images/header_right_4.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-position: right;
	border-bottom: 0px solid #AAA;
	padding: 15px;
}

#header_form {
	border-bottom: 0px solid #AAA;
	padding: 8px;
}

.thrColElsHdr #sidebarl {
	float: left;
	width: 180px; /* 由于此元素是浮动的，因此必须指定宽度 */
	background: #EBEBEB; /* 将显示背景色，其宽度等于栏中内容的长度，*/
	padding: 8px; /* 顶部和底部的填充将在该 div 中产生视觉空间 */
}

.thrColElsHdr #sidebarr {
	float: right;
	width: 140px; /* 由于此元素是浮动的，因此必须指定宽度 */
	background: #cccccc; /* 将显示背景色，其宽度等于栏中内容的长度，*/
	padding: 8px; /* 顶部和底部的填充将在该 div 中产生视觉空间 */
}

.thrColElsHdr #sidebar1 h3,.thrColElsHdr #sidebar1 p,.thrColElsHdr #sidebar2 p,.thrColElsHdr #sidebar2 h3
	{
	margin-left: 10px; /* 对于将要放在侧栏中的每个元素，都应当设置左边距和右边距 */
	margin-right: 10px;
}

.thrColElsHdr #mainContent {
	margin-top: 2px;
	margin-right: 168px;
	margin-bottom: 2px;
	margin-left: 220px;
	padding: 8px;
}

.thrColElsHdr #footer {
	padding: 10px;
	color: #FFFFFF;
	background: #000000;
}

.thrColElsHdr #footer p {
	margin: 0; /* 将脚注中第一个元素的边距设置为零将避免出现可能的边距重叠（即 div 之间出现的空白）*/
	padding: 10px 0; /* 就像边距会产生空白一样，此元素上的填充也将产生空白，但不会出现边距重叠问题 */
}

/* 要重用的各种类 */
.fltrt { /* 此类可用来使页面中的元素向右浮动。浮动元素必须位于页面上要与之相邻的元素之前。 */
	float: right;
	margin-left: 8px;
}

.fltlft { /* 此类可用来使页面上的元素向左浮动 */
	float: left;
	margin-right: 8px;
}

.clearfloat { /* 此类应当放在 div 或 break 元素上，而且该元素应当是完全包含浮动的容器关闭之前的最后一个元素 */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

img {
	border: 0;
}

form {
	margin: 0;
}

/* ------------ Link Color Settings ------------ */
a {
	color: #3300FF;
	text-decoration: none;
}

a:hover {
	color: #F33;
	text-decoration: underline;
}

a:visited {
	color: #3300FF;
}

/* ------------ Heading and List tag Settings ------------ */
h1,h2,h3,h4,h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #f60;
	background: inherit;
	padding: 0;
	margin: 10px 0 5px;
}

h1 {
	color: #333;
	padding: 5px 0 5px 28px;
	font-size: 125%;
}

h2 {
	color: #333;
	padding: 5px 0 5px 21px;
	font-size: 112%;
}

h3,h4,h5 {
	font-size: 100%;
}

ul,ol,li {
	margin: 0 0 0 10px;
	padding: 2px;
	text-align: left;
}

legend {
	padding: 0 10px;
	color: #F60;
	background: inherit;
}

hr {
	height: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 0;
}

legend {
	padding: 0 10px;
	color: #666;
	background: inherit;
}

/* ------------ left column & right column ------------ */
.leftcolumn .blockTitle,.rightcolumn .blockTitle {
	text-align: center;
	font-size: 14px;
	display: block;
	color: #ffffff;
	padding: 8px;
	background-color: #000000;
}

.leftcolumn .blockContent,.rightcolumn .blockContent {
	padding: 5px 10px;
	line-height: 150%;
	margin-bottom: 8px;
	margin-top: 9px;
}

/* ------------ center column ------------ */
.centerCcolumn .blockTitle,.rightcolumn .blockTitle {
	font-weight: bold;
	text-align: center;
	display: block;
	height: 26px;
	padding-top: 14px;
	background: #DFDFDF;
	color: #000000;
}

/* ------------ xoops mainmenu & usermenu ------------ */
#mainmenu a,#usermenu a {
	width: 160px;
	display: block;
	text-decoration: none;
	margin-bottom: 4px;
	padding: 3px;
	color: #000000;
	border-bottom: 1px dotted #AAA;
}

#mainmenu a:hover,#usermenu a:hover {
	color: #f90;
	background-color: inherit;
}

#mainmenu a.menuSub,#mainmenu a.menuSub:hover {
	padding-left: 25px;
}

#usermenu a.highlight {
	color: #FFF;
	padding: 3px;
	background: #333;
}

/* ------------ for table ------------ */
.outer {
	border: 1px solid #EEE;
}

th {
	padding: 3px;
	vertical-align: middle;
	font-weight: normal;
	color: #666;
	border-bottom: 1px solid #CCC;
	background: #EEE;
}

.head {
	padding: 5px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #F2F2F2;
}

.even {
	padding: 2px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #F7F7F7;
}

.odd {
	padding: 2px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #FAFAFA;
}

.foot {
	padding: 5px;
	font-weight: bold;
	color: inherit;
	background: #F2F2F2;
}

tr.even td {
	padding: 2px;
	border-bottom: 1px solid #CACACA;
}

tr.odd td {
	padding: 2px;
	border-bottom: 1px solid #CACACA;
}

tr.even {
	color: inherit;
	background: #F7F7F7;
}

tr.odd {
	color: inherit;
	background: #FAFAFA;
}

tr.odd:hover,tr.even:hover {
	color: #000;
	border-bottom: 1px solid #CACACA;
	background: #DFDFDF;
}

/* ------------ error message & quote and code ------------ */
div.errorMsg {
	background: #F5E8E8;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #CCC;
}

div.confirmMsg {
	background: #EFF4DF;
	color: #003300;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #CCC;
}

div.resultMsg {
	background-color: #FFF;
	color: #333;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #CCC;
}

div.xoopsCode {
	background: #EFEFEF;
	color: inherit;
	border: 1px inset #CCC;
	padding: 6px;
	overflow: auto;
	width: 450px;
}

div.xoopsQuote {
	background: #EFEFEF;
	color: inherit;
	border: 1px inset #CCC;
	padding: 6px;
	overflow: auto;
	width: 450px;
}

/* ------------ for comment area ------------ */
.formButton {
	border: 1px outset #616655;
	background-color: #EEEEEE;
	color: #7F7F7F;
}

/* ------------ for comment ------------ */
.comTitle {
	margin-bottom: 2px;
}

.comText {
	padding: 2px;
}

.comUserStat {
	font-size: 80%;
	border: 1px solid #CCC;
	margin: 2px;
	padding: 2px;
	background: #FFF;
	color: inherit;
}

.comUserStatCaption {
	font-weight: normal;
}

.comUserRank {
	margin: 2px;
}

.comUserRankText {
	font-size: 80%;
}

.comUserImg {
	margin: 2px;
}

.comDate {
	font-size: 80%;
}

.comDateCaption {
	
}

/* ------------ for bulletin or news module ------------ */
.itemHead {
	padding: 2px 5px;
	font-weight: bold;
	border-bottom: 1px dotted #CCC;
}

.itemInfo {
	text-align: right;
	padding: 3px 8px;
}

.itemTitle a {
	font-size: 120%;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
}

.itemPoster {
	font-size: 90%;
}

.itemPostDate {
	font-size: 90%;
}

.itemStats {
	font-size: 90%;
}

.itemBody {
	padding: 0 8px 0 13px;
	overflow: hidden;
}

.itemText {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.5em;
}

.itemText:first-letter {
	font-size: 1.5em;
	font-weight: bold;
}

.itemFoot {
	text-align: right;
	padding: 2px;
	border-top: 1px dotted #CCC;
}

.itemAdminLink {
	font-size: 90%;
}

.itemPermaLink {
	font-size: 90%;
}

.njBkg-0 {
	background-color: #00529B;
}

.njBkg-1 {
	background-color: #7FA8CD;
}

.njBkg-2 {
	background-color: #A6C3DC;
}

.njBkg-3 {
	background-color: #BFD4E6;
}

/*showPage*/ /* Pages Main Tyle */
.pages {
	color: #000000;
	cursor: default;
	font-size: 10px;
	font-family: Tahoma, Verdana;
	padding: 3px 0px 3px 0px;
}

.pages .count,.pages .number,.pages .arrow {
	color: #000000;
	font-size: 10px;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}

/* Page and PageCount Style */
.pages .count {
	font-weight: bold;
	border-right: none;
	padding: 2px 10px 1px 10px;
}

/* Mode 0,1,2 Style (Number) */
.pages .number {
	font-weight: normal;
	padding: 2px 10px 1px 10px;
}

.pages .number a,.pages .number span {
	font-size: 10px;
}

.pages .number span {
	color: #999999;
	margin: 0px 3px 0px 3px;
}

.pages .number a {
	color: #000000;
	text-decoration: none;
}

.pages .number a:hover {
	color: #0000ff;
}

/* Mode 3 Style (Arrow) */
.pages .arrow {
	font-weight: normal;
	padding: 0px 5px 0px 5px;
}

.pages .arrow a,.pages .arrow span {
	font-size: 10px;
	font-family: Webdings;
}

.pages .arrow span {
	color: #999999;
	margin: 0px 5px 0px 5px;
}

.pages .arrow a {
	color: #000000;
	text-decoration: none;
}

.pages .arrow a:hover {
	color: #0000ff;
}

/* Mode 4 Style (Select) */
.pages select,.pages input {
	color: #000000;
	font-size: 10px;
	font-family: Tahoma, Verdana;
}

/* Mode 5 Style (Input) */
.pages .input input.ititle,.pages .input input.itext,.pages .input input.icount
	{
	color: #666666;
	font-weight: bold;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}

.pages .input input.ititle {
	width: 70px;
	text-align: right;
	border-right: none;
}

.pages .input input.itext {
	width: 25px;
	color: #000000;
	text-align: right;
	border-left: none;
	border-right: none;
}

.pages .input input.icount {
	width: 35px;
	text-align: left;
	border-left: none;
}

.pages .input input.ibutton {
	height: 17px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana;
	background-color: #999999;
	border: 1px solid #666666;
	padding: 0px 0px 2px 1px;
	margin-left: 2px;
	cursor: hand;
}

.presswork_OK {
	padding: 10px;
	background: #ADD8E6;
	color: black;
	text-align: center;
	width: 90px;
}

.presswork_NotFinish {
	padding: 10px;
	background: #FF4500;
	color: black;
	text-align: center;
	width: 90px;
}