.halfmoon {
	MARGIN-BOTTOM: 1em
}

.halfmoon UL {
	PADDING-RIGHT: 9px;
	MARGIN-TOP: 1px;
	PADDING-LEFT: 5px;
	MARGIN-BOTTOM: 0px;
	PADDING-BOTTOM: 2px;
	FONT: bold 12px Verdana;
	MARGIN-LEFT: 0px;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #929492 1px solid;
	LIST-STYLE-TYPE: none;
	TEXT-ALIGN: left
}

.halfmoon LI {
	DISPLAY: inline;
	MARGIN: 0px
}

.halfmoon LI A {
	PADDING-RIGHT: 9px;
	PADDING-LEFT: 5px;
	FONT-SIZE: 13px;
	BACKGROUND: url(media/halfmoontab.gif) #e5febc no-repeat right top;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px 1px 0px 0px;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	PADDING-TOP: 3px;
	TEXT-DECORATION: none
}

.halfmoon LI A:visited {
	COLOR: black
}

.halfmoon LI A:hover {
	BACKGROUND-COLOR: #c8e181
}

.halfmoon LI.selected A {
	BACKGROUND-COLOR: #c8e181
}

.dropmenudiv_e {
	BORDER-RIGHT: #657f27 1px solid;
	BORDER-TOP: #657f27 0px solid;
	Z-INDEX: 100;
	VISIBILITY: hidden;
	FONT: 12px/ 18px Verdana;
	BORDER-LEFT: #657f27 1px solid;
	WIDTH: 200px;
	BORDER-BOTTOM: #657f27 0px solid;
	POSITION: absolute;
	TOP: 0px;
	BACKGROUND-COLOR: #eff8d2
}

.dropmenudiv_e A {
	BORDER-RIGHT: #657f27 0px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #657f27 0px solid;
	DISPLAY: block;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #657f27 0px solid;
	WIDTH: auto;
	COLOR: black;
	TEXT-INDENT: 5px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #657f27 1px solid;
	TEXT-DECORATION: none
}

HTML .dropmenudiv_e A {
	WIDTH: 100%
}

.dropmenudiv_e A:hover {
	BACKGROUND-COLOR: #c8e181
}