h1 {
	font-size: 30px;
	font-family: "黑体";
	text-align: center;
	vertical-align: middle;
}
.formTitle {
	font-size: 30px;
	font-family: "黑体";
	text-align: center;
	vertical-align: middle;
}
.formText {
	font-size: 18px;
	vertical-align: middle;
}
.formInput {
	font-family: "楷体";
	vertical-align: middle;
}
